$font-color: #333333;
$background-color: #ffffff;

.header {
    width: 100%;

    .header__inner {
        width: 1200px;
        height: 100px;
    }
}

.visual {
    background: gray;
    height: 100vh;
}

