$font-color: #333333;
$background-color: #ffffff;

* {
    font-family: 'Raleway', 'Noto Sans KR', sans-serif;
    font-size: 17px;
    color: $font-color;
}

// header css
.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background: $background-color;

    .header__inner {
        width: 1200px;
        height: 80px;
        margin: 0 auto;
    }

    .header__logo {
        float: left;
        margin: 15px 0;
    }

    .logo {
        font-size: 30px;
        text-decoration: none;
        letter-spacing: 0.2em;
        transition: all 0.5s;

        span {
            font-weight: 700;
            color: #bd274a;
        }
    }

    .logo:hover {
        letter-spacing: 0.1em;
    }
}

.visual {
    position: relative;
    height: 100vh;

    .visual__scroll {
        position: absolute;
        bottom: 20px; left: 50%;
        transform: translateX(-50%);
    }

    .scroll__circle {
        position: absolute;
        bottom: 20px; left: 50%;
        transform: translateX(-50%);
        width: 50px; height: 50px;
        border: 2px solid #c0cad6;
        border-radius: 45px;

        .arrow {
            width: 25px; height: 25px;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            // transition: all 0.5s;
            animation: arrowAni 1s infinite;
            border-radius: 50%;
        }
    
        .arrow::before {
            content: '';
            width: 1.5px; height: 20px;
            background: #c0cad6;
            position: absolute;
            top: 0; left: 5px;
            transform: rotate(-45deg);
        }
    
        .arrow::after {
            content: '';
            width: 1.5px; height: 20px;
            background: #c0cad6;
            position: absolute;
            top: 0; right: 5px;
            transform: rotate(45deg);
        }
    }

    

    
}

@keyframes arrowAni {
    to {
        top: 60%;
    }
}

// footer css
.footer {
    background-color: #c0cad6;
    height: 100px;

    .footer__copyright {
        text-align: center;
        line-height: 22px;
        padding-top: 25px;

        span {
            font-weight: 600;
        }
    }
}
