/* project 반응형 */

@media screen and (max-width: 1020px) {
  /* middle */
  .middle {
    padding: 0 100px;
    transition: all 0.5s;
  }

  .middle .layout_img {
    margin-bottom: 50px;
  }

  .middle .mission,
  .middle .concept {
    margin: 0 70px;
  }

  .middle .mission {
    margin-top: 30px;
  }

  .middle .concept {
    margin-top: 60px;
  }
}

@media screen and (max-width: 760px) {
  /* top */
  .top {
    padding: 40px;
  }

  /* middle */
  .middle {
    padding: 0 15px;
    transition: all 0.5s;
  }

  .middle .layout_img {
    margin-bottom: 50px;
  }

  .middle .mission,
  .middle .concept {
    margin: 0 30px;
  }

  .middle .mission {
    margin-top: 30px;
  }

  .middle .concept {
    margin-top: 60px;
  }

  /* links */
  .link .link__github {
    padding-left: 100px;
  }
}

@media (max-width: 480px) {
  /* links */
  .link .link__github {
    padding-left: 80px;
  }
}

